@model IEnumerable<proyecto_termotasajero.Models.ParametrosOperacionPrecipitador>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaHoraInicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaHoraFinalizacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NombreOperador)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OperadorTurno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IPF14)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IPF13)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IPF15)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IPF16)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IPF12)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IPF11)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IPF10)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IPF9)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IPF5)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IPF6)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IPF7)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IPF8)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IPF4)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IPF3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IPF2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IPF1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Temp1B2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nivel1B2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Temp2B2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nivel2B2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Temp3B2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nivel3B2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Temp4B2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nivel4B2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Temp4B1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nivel4B1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Temp3B1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nivel3B1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Temp2B1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nivel2B1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Temp1B1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nivel1B1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Temp1A2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nivel1A2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Temp2A2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nivel2A2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Temp3A2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nivel3A2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Temp4A2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nivel4A2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Temp4A1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nivel4A1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Temp3A1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nivel3A1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Temp2A1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nivel2A1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Temp1A1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nivel1A1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Campo1A1_Amps)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Campo1A1_Volts)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Campo1A1_mA)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Campo1A1_KV)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Campo1A1_SPM)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Campo1A1_KW)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Campo1A1_Deg)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Campo1A2_Amps)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Campo1A2_Volts)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Campo1A2_mA)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Campo1A2_KV)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Campo1A2_SPM)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Campo1A2_KW)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Campo1A2_Deg)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Campo1B1_Amps)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Campo1B1_Volts)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Campo1B1_mA)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Campo1B1_KV)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Campo1B1_SPM)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Campo1B1_KW)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Campo1B1_Deg)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Campo1B2_Amps)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Campo1B2_Volts)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Campo1B2_mA)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Campo1B2_KV)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Campo1B2_SPM)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Campo1B2_KW)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Campo1B2_Deg)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Campo2A1_Amps)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Campo2A1_Volts)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Campo2A1_mA)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Campo2A1_KV)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Campo2A1_SPM)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Campo2A1_KW)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Campo2A1_Deg)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Campo2B2_Amps)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Campo2B2_Volts)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Campo2B2_mA)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Campo2B2_KV)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Campo2B2_SPM)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Campo2B2_KW)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Campo2B2_Deg)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Campo2B1_Amps)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Campo2B1_Volts)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Campo2B1_mA)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Campo2B1_KV)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Campo2B1_SPM)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Campo2B1_KW)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Campo2B1_Deg)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Campo2A2_Amps)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Campo2A2_Volts)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Campo2A2_mA)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Campo2A2_KV)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Campo2A2_SPM)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Campo2A2_KW)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Campo2A2_Deg)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Campo3A1_Amps)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Campo3A1_Volts)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Campo3A1_mA)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Campo3A1_KV)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Campo3A1_SCR)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Campo3A1_KW)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Campo3A1_SM)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Campo3A2_Amps)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Campo3A2_Volts)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Campo3A2_mA)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Campo3A2_KV)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Campo3A2_SCR)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Campo3A2_KW)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Campo3A2_SM)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Campo4A1_Amps)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Campo4A1_Volts)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Campo4A1_mA)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Campo4A1_KV)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Campo4A1_SCR)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Campo4A1_KW)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Campo4A1_SM)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Campo4A2_Amps)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Campo4A2_Volts)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Campo4A2_mA)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Campo4A2_KV)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Campo4A2_SCR)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Campo4A2_KW)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Campo4A2_SM)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Campo3B1_Amps)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Campo3B1_Volts)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Campo3B1_mA)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Campo3B1_KV)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Campo3B1_SCR)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Campo3B1_KW)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Campo3B1_SM)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Campo3B2_Amps)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Campo3B2_Volts)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Campo3B2_mA)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Campo3B2_KV)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Campo3B2_SCR)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Campo3B2_KW)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Campo3B2_SM)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Campo4B1_Amps)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Campo4B1_Volts)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Campo4B1_mA)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Campo4B1_KV)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Campo4B1_SCR)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Campo4B1_KW)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Campo4B1_SM)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Campo4B2_Amps)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Campo4B2_Volts)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Campo4B2_mA)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Campo4B2_KV)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Campo4B2_SCR)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Campo4B2_KW)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Campo4B2_SM)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Observaciones)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaCreacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UsuarioCreacion)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaHoraInicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaHoraFinalizacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombreOperador)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OperadorTurno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IPF14)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IPF13)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IPF15)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IPF16)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IPF12)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IPF11)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IPF10)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IPF9)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IPF5)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IPF6)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IPF7)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IPF8)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IPF4)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IPF3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IPF2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IPF1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Temp1B2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nivel1B2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Temp2B2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nivel2B2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Temp3B2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nivel3B2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Temp4B2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nivel4B2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Temp4B1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nivel4B1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Temp3B1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nivel3B1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Temp2B1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nivel2B1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Temp1B1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nivel1B1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Temp1A2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nivel1A2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Temp2A2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nivel2A2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Temp3A2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nivel3A2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Temp4A2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nivel4A2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Temp4A1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nivel4A1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Temp3A1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nivel3A1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Temp2A1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nivel2A1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Temp1A1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nivel1A1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Campo1A1_Amps)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Campo1A1_Volts)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Campo1A1_mA)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Campo1A1_KV)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Campo1A1_SPM)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Campo1A1_KW)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Campo1A1_Deg)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Campo1A2_Amps)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Campo1A2_Volts)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Campo1A2_mA)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Campo1A2_KV)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Campo1A2_SPM)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Campo1A2_KW)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Campo1A2_Deg)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Campo1B1_Amps)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Campo1B1_Volts)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Campo1B1_mA)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Campo1B1_KV)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Campo1B1_SPM)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Campo1B1_KW)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Campo1B1_Deg)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Campo1B2_Amps)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Campo1B2_Volts)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Campo1B2_mA)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Campo1B2_KV)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Campo1B2_SPM)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Campo1B2_KW)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Campo1B2_Deg)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Campo2A1_Amps)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Campo2A1_Volts)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Campo2A1_mA)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Campo2A1_KV)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Campo2A1_SPM)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Campo2A1_KW)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Campo2A1_Deg)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Campo2B2_Amps)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Campo2B2_Volts)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Campo2B2_mA)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Campo2B2_KV)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Campo2B2_SPM)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Campo2B2_KW)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Campo2B2_Deg)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Campo2B1_Amps)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Campo2B1_Volts)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Campo2B1_mA)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Campo2B1_KV)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Campo2B1_SPM)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Campo2B1_KW)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Campo2B1_Deg)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Campo2A2_Amps)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Campo2A2_Volts)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Campo2A2_mA)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Campo2A2_KV)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Campo2A2_SPM)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Campo2A2_KW)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Campo2A2_Deg)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Campo3A1_Amps)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Campo3A1_Volts)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Campo3A1_mA)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Campo3A1_KV)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Campo3A1_SCR)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Campo3A1_KW)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Campo3A1_SM)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Campo3A2_Amps)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Campo3A2_Volts)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Campo3A2_mA)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Campo3A2_KV)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Campo3A2_SCR)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Campo3A2_KW)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Campo3A2_SM)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Campo4A1_Amps)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Campo4A1_Volts)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Campo4A1_mA)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Campo4A1_KV)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Campo4A1_SCR)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Campo4A1_KW)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Campo4A1_SM)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Campo4A2_Amps)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Campo4A2_Volts)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Campo4A2_mA)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Campo4A2_KV)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Campo4A2_SCR)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Campo4A2_KW)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Campo4A2_SM)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Campo3B1_Amps)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Campo3B1_Volts)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Campo3B1_mA)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Campo3B1_KV)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Campo3B1_SCR)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Campo3B1_KW)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Campo3B1_SM)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Campo3B2_Amps)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Campo3B2_Volts)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Campo3B2_mA)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Campo3B2_KV)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Campo3B2_SCR)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Campo3B2_KW)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Campo3B2_SM)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Campo4B1_Amps)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Campo4B1_Volts)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Campo4B1_mA)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Campo4B1_KV)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Campo4B1_SCR)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Campo4B1_KW)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Campo4B1_SM)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Campo4B2_Amps)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Campo4B2_Volts)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Campo4B2_mA)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Campo4B2_KV)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Campo4B2_SCR)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Campo4B2_KW)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Campo4B2_SM)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Observaciones)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaCreacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UsuarioCreacion)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
