@model IEnumerable<proyecto_termotasajero.Models.ParametrosOperacionTurboGeneracion>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Registrar">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaHoraInicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaHoraFinalizacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CorreoElectronico)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NombreOperador)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OperadorTurno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EnfriadorAguaAguaA)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EnfriadorAguaAguaB)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BombaReforzadoraA)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BombaReforzadoraB)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TempEntradaCircuitoCerrado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TempSalidaCircuitoAbierto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PresionDescargaReforzadoraA)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PresionDescargaReforzadoraB)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeltaPFiltroBombasReforzadoras)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BbaSelloLadoH2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BbaSelloLadoAire)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BbaSelloEmergencia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BbaSelloFlotante)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExtractorTanqueBucle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PresionRefuerzo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PresionAceiteLadoH2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PresionAceiteLadoAire)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TemperaturaAceiteLadoH2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TemperaturaAceiteLadoAire)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EstadoSecadorH2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DewPointEntrada)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DewPointSalida)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VlaControlNivelCalentadorBP1CV221)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BbaVacioA)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BbaVacioB)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PresionSuccionBbaVacioA)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PresionAguaSelloBbaVacioB)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EnfriadorA)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EnfriadorB)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TemperaturaSalidaAgua)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AperturaValvulaControl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExtraccionA)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExtraccionB)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PresionSuccionExtraccionAireA)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PresionSuccionExtraccionAireB)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PurificadorAceite)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PresionTkAceiteTurbina)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NivelTkAceiteTurbina)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CargadorA220Vdc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CargadorB220Vdc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CargadorA125Vdc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CargadorB125Vdc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CargadorA24Vdc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CargadorB24Vdc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CorrienteCargador220ES)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CorrienteCargador124ES)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CorrienteCargador24ES)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BAAC_Estado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BAAC_TempRetornoAceiteRodamientoLadoInterior)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BAAC_TempRetornoAceiteRodamientoLadoExterior)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BAAC_TempAguaSelloLadoInterior)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BAAC_TempAguaSelloLadoExterior)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BAAC_PresionAceiteRodamientoLadoInterior)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BAAC_PresionAceiteRodamientoLadoExterior)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BAAC_PresionEntradaAguaSello)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BAAC_PresionDiferencialFiltroAguaSello)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BAAC_PresionDiferencialFiltroSuccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BAAC_AperturaAguaSelloLadoInterior)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BAAC_AperturaAguaSelloLadoExterior)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AcopleBAAC_TempMetalRadial1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AcopleBAAC_TempMetalRadial2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AcopleBAAC_TempMetalRadial3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AcopleBAAC_TempMetalRadial4)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AcopleBAAC_TempMetalRadial5)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AcopleBAAC_TempMetalRadial6)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AcopleBAAC_TempAceiteTrabajoEntradaEnfriador)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AcopleBAAC_PresionAceiteLubricacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AcopleBAAC_PresionDiferencialFiltroAceite)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AcopleBAAC_TempAceiteLubricacionEntradaEnfriador)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AcopleBAAC_TempAceiteLubricacionSalidaEnfriador)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AcopleBAAC_TempAceiteTrabajoSalidaEnfriador)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BAAB_Estado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BAAB_TempRetornoAceiteRodamientoLadoInterior)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BAAB_TempRetornoAceiteRodamientoLadoExterior)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BAAB_TempAguaSelloLadoInterior)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BAAB_TempAguaSelloLadoExterior)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BAAB_PresionAceiteRodamientoLadoInterior)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BAAB_PresionAceiteRodamientoLadoExterior)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BAAB_PresionEntradaAguaSello)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BAAB_PresionDiferencialFiltroAguaSello)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BAAB_PresionDiferencialFiltroSuccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BAAB_AperturaAguaSelloLadoInterior)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BAAB_AperturaAguaSelloLadoExterior)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AcopleBAAB_TempMetalRadial1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AcopleBAAB_TempMetalRadial2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AcopleBAAB_TempMetalRadial3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AcopleBAAB_TempMetalRadial4)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AcopleBAAB_TempMetalRadial5)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AcopleBAAB_TempMetalRadial6)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AcopleBAAB_TempAceiteTrabajoEntradaEnfriador)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AcopleBAAB_PresionAceiteLubricacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AcopleBAAB_PresionDiferencialFiltroAceite)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AcopleBAAB_TempAceiteLubricacionEntradaEnfriador)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AcopleBAAB_TempAceiteLubricacionSalidaEnfriador)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AcopleBAAB_TempAceiteTrabajoSalidaEnfriador)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BAAA_Estado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BAAA_TempRetornoAceiteRodamientoLadoInterior)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BAAA_TempRetornoAceiteRodamientoLadoExterior)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BAAA_TempAguaSelloLadoInterior)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BAAA_TempAguaSelloLadoExterior)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BAAA_PresionAceiteRodamientoLadoInterior)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BAAA_PresionAceiteRodamientoLadoExterior)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BAAA_PresionEntradaAguaSello)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BAAA_PresionDiferencialFiltroAguaSello)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BAAA_PresionDiferencialFiltroSuccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BAAA_AperturaAguaSelloLadoInterior)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BAAA_AperturaAguaSelloLadoExterior)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AcopleBAAA_TempMetalRadial1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AcopleBAAA_TempMetalRadial2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AcopleBAAA_TempMetalRadial3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AcopleBAAA_TempMetalRadial4)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AcopleBAAA_TempMetalRadial5)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AcopleBAAA_TempMetalRadial6)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AcopleBAAA_TempAceiteTrabajoEntradaEnfriador)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AcopleBAAA_PresionAceiteLubricacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AcopleBAAA_PresionDiferencialFiltroAceite)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AcopleBAAA_TempAceiteLubricacionEntradaEnfriador)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AcopleBAAA_TempAceiteLubricacionSalidaEnfriador)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AcopleBAAA_TempAceiteTrabajoSalidaEnfriador)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SecadorAireA)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SecadorAireB)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TempDewPointSecadorA)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TempDewPointSecadorB)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompresorC_Estado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompresorC_TempT1Descarga)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompresorC_TempT2LadoSeco)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompresorC_PresionP1Carter)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompresorC_PresionP2Linea)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompresorC_PresionP4Aceite)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompresorC_PresionDP1Separador)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompresorC_PresionDP2FiltroAceite)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompresorC_PresionDP3Aceite)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompresorA_Estado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompresorA_PresionDescargaConjunto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompresorA_TempDescargaConjunto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompresorA_TempDescargaFase1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompresorA_PresionEntradaFase2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompresorA_TempEntradaFase2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompresorA_PresionDescargaFase2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompresorA_TempDescargaFase2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompresorA_TempAceiteRodamientos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompresorA_PresionAceiteRodamientos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompresorA_VacioEntrada)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompresorA_CaidaPresionFiltroAceite)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompresorB_Estado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompresorB_TempDescargaUnidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompresorB_Temp1aFase)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompresorB_PresionAdmision2aFase)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompresorB_TempAdmision2aFase)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompresorB_PresionDescarga2aFase)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompresorB_TempDescarga2aFase)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompresorB_PresionAceiteCojinetes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompresorB_TempAceiteCojinetes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompresorB_VacioEntrada)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompresorB_EstadoFiltroEntrada)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompresorB_CaidaPresionFiltroAceite)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VlaControlNivelCalentadorBP2CV223)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CorrienteCompresorB)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CorrienteCompresorC)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CorrienteCompresorA)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VlaControlNivelCalentadorBP3CV224)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PI255_PresionAceiteAltaPresion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PI257_PresionAceiteDescargaBombaPrincipal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PI329_PresionSelloExtremoTurbina)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PI328_PresionSelloExtremoGenerador)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExtractorTkBucle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PresionSuccionExtractorTkBucle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PI230_PresionVaporSelloBP)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PI238_PresionVaporSalidaCamaraIntermedia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VlaControlNivelCalentadorAP5CV226)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VlaControlNivelCalentadorAP6CV227)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Observaciones)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BombaFosfatoDomoA)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BombaFosfatoDomoB)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BombaHidracinaCicloA)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BombaHidracinaCicloB)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BombaHidracinaCtoCerradoA)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BombaHidracinaCtoCerradoB)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaHoraInicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaHoraFinalizacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CorreoElectronico)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombreOperador)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OperadorTurno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EnfriadorAguaAguaA)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EnfriadorAguaAguaB)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BombaReforzadoraA)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BombaReforzadoraB)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TempEntradaCircuitoCerrado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TempSalidaCircuitoAbierto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PresionDescargaReforzadoraA)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PresionDescargaReforzadoraB)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeltaPFiltroBombasReforzadoras)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BbaSelloLadoH2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BbaSelloLadoAire)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BbaSelloEmergencia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BbaSelloFlotante)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExtractorTanqueBucle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PresionRefuerzo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PresionAceiteLadoH2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PresionAceiteLadoAire)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TemperaturaAceiteLadoH2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TemperaturaAceiteLadoAire)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstadoSecadorH2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DewPointEntrada)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DewPointSalida)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VlaControlNivelCalentadorBP1CV221)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BbaVacioA)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BbaVacioB)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PresionSuccionBbaVacioA)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PresionAguaSelloBbaVacioB)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EnfriadorA)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EnfriadorB)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TemperaturaSalidaAgua)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AperturaValvulaControl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExtraccionA)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExtraccionB)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PresionSuccionExtraccionAireA)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PresionSuccionExtraccionAireB)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PurificadorAceite)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PresionTkAceiteTurbina)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NivelTkAceiteTurbina)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CargadorA220Vdc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CargadorB220Vdc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CargadorA125Vdc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CargadorB125Vdc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CargadorA24Vdc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CargadorB24Vdc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CorrienteCargador220ES)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CorrienteCargador124ES)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CorrienteCargador24ES)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BAAC_Estado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BAAC_TempRetornoAceiteRodamientoLadoInterior)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BAAC_TempRetornoAceiteRodamientoLadoExterior)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BAAC_TempAguaSelloLadoInterior)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BAAC_TempAguaSelloLadoExterior)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BAAC_PresionAceiteRodamientoLadoInterior)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BAAC_PresionAceiteRodamientoLadoExterior)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BAAC_PresionEntradaAguaSello)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BAAC_PresionDiferencialFiltroAguaSello)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BAAC_PresionDiferencialFiltroSuccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BAAC_AperturaAguaSelloLadoInterior)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BAAC_AperturaAguaSelloLadoExterior)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AcopleBAAC_TempMetalRadial1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AcopleBAAC_TempMetalRadial2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AcopleBAAC_TempMetalRadial3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AcopleBAAC_TempMetalRadial4)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AcopleBAAC_TempMetalRadial5)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AcopleBAAC_TempMetalRadial6)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AcopleBAAC_TempAceiteTrabajoEntradaEnfriador)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AcopleBAAC_PresionAceiteLubricacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AcopleBAAC_PresionDiferencialFiltroAceite)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AcopleBAAC_TempAceiteLubricacionEntradaEnfriador)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AcopleBAAC_TempAceiteLubricacionSalidaEnfriador)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AcopleBAAC_TempAceiteTrabajoSalidaEnfriador)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BAAB_Estado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BAAB_TempRetornoAceiteRodamientoLadoInterior)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BAAB_TempRetornoAceiteRodamientoLadoExterior)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BAAB_TempAguaSelloLadoInterior)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BAAB_TempAguaSelloLadoExterior)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BAAB_PresionAceiteRodamientoLadoInterior)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BAAB_PresionAceiteRodamientoLadoExterior)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BAAB_PresionEntradaAguaSello)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BAAB_PresionDiferencialFiltroAguaSello)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BAAB_PresionDiferencialFiltroSuccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BAAB_AperturaAguaSelloLadoInterior)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BAAB_AperturaAguaSelloLadoExterior)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AcopleBAAB_TempMetalRadial1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AcopleBAAB_TempMetalRadial2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AcopleBAAB_TempMetalRadial3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AcopleBAAB_TempMetalRadial4)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AcopleBAAB_TempMetalRadial5)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AcopleBAAB_TempMetalRadial6)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AcopleBAAB_TempAceiteTrabajoEntradaEnfriador)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AcopleBAAB_PresionAceiteLubricacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AcopleBAAB_PresionDiferencialFiltroAceite)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AcopleBAAB_TempAceiteLubricacionEntradaEnfriador)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AcopleBAAB_TempAceiteLubricacionSalidaEnfriador)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AcopleBAAB_TempAceiteTrabajoSalidaEnfriador)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BAAA_Estado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BAAA_TempRetornoAceiteRodamientoLadoInterior)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BAAA_TempRetornoAceiteRodamientoLadoExterior)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BAAA_TempAguaSelloLadoInterior)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BAAA_TempAguaSelloLadoExterior)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BAAA_PresionAceiteRodamientoLadoInterior)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BAAA_PresionAceiteRodamientoLadoExterior)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BAAA_PresionEntradaAguaSello)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BAAA_PresionDiferencialFiltroAguaSello)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BAAA_PresionDiferencialFiltroSuccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BAAA_AperturaAguaSelloLadoInterior)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BAAA_AperturaAguaSelloLadoExterior)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AcopleBAAA_TempMetalRadial1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AcopleBAAA_TempMetalRadial2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AcopleBAAA_TempMetalRadial3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AcopleBAAA_TempMetalRadial4)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AcopleBAAA_TempMetalRadial5)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AcopleBAAA_TempMetalRadial6)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AcopleBAAA_TempAceiteTrabajoEntradaEnfriador)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AcopleBAAA_PresionAceiteLubricacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AcopleBAAA_PresionDiferencialFiltroAceite)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AcopleBAAA_TempAceiteLubricacionEntradaEnfriador)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AcopleBAAA_TempAceiteLubricacionSalidaEnfriador)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AcopleBAAA_TempAceiteTrabajoSalidaEnfriador)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SecadorAireA)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SecadorAireB)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TempDewPointSecadorA)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TempDewPointSecadorB)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompresorC_Estado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompresorC_TempT1Descarga)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompresorC_TempT2LadoSeco)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompresorC_PresionP1Carter)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompresorC_PresionP2Linea)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompresorC_PresionP4Aceite)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompresorC_PresionDP1Separador)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompresorC_PresionDP2FiltroAceite)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompresorC_PresionDP3Aceite)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompresorA_Estado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompresorA_PresionDescargaConjunto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompresorA_TempDescargaConjunto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompresorA_TempDescargaFase1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompresorA_PresionEntradaFase2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompresorA_TempEntradaFase2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompresorA_PresionDescargaFase2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompresorA_TempDescargaFase2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompresorA_TempAceiteRodamientos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompresorA_PresionAceiteRodamientos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompresorA_VacioEntrada)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompresorA_CaidaPresionFiltroAceite)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompresorB_Estado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompresorB_TempDescargaUnidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompresorB_Temp1aFase)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompresorB_PresionAdmision2aFase)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompresorB_TempAdmision2aFase)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompresorB_PresionDescarga2aFase)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompresorB_TempDescarga2aFase)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompresorB_PresionAceiteCojinetes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompresorB_TempAceiteCojinetes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompresorB_VacioEntrada)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompresorB_EstadoFiltroEntrada)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompresorB_CaidaPresionFiltroAceite)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VlaControlNivelCalentadorBP2CV223)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CorrienteCompresorB)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CorrienteCompresorC)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CorrienteCompresorA)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VlaControlNivelCalentadorBP3CV224)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PI255_PresionAceiteAltaPresion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PI257_PresionAceiteDescargaBombaPrincipal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PI329_PresionSelloExtremoTurbina)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PI328_PresionSelloExtremoGenerador)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExtractorTkBucle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PresionSuccionExtractorTkBucle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PI230_PresionVaporSelloBP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PI238_PresionVaporSalidaCamaraIntermedia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VlaControlNivelCalentadorAP5CV226)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VlaControlNivelCalentadorAP6CV227)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Observaciones)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BombaFosfatoDomoA)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BombaFosfatoDomoB)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BombaHidracinaCicloA)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BombaHidracinaCicloB)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BombaHidracinaCtoCerradoA)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BombaHidracinaCtoCerradoB)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
