@model IEnumerable<proyecto_termotasajero.Models.ParametrosOperacionCapacitacionAgua>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Inicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Finalizacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CorreoElectronico)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OperadorTurno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VoltajeBarraBPW_kV)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Corriente_A)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BBT_A_Estado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TempAceiteReductor_A)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PresAceitePrincipal_A_kgcm2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PresNormalLubricacion_A_kgcm2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PresAguaEnfriamiento_A_kgcm2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TempDevanadosFaseR_A)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TempDevanadosFaseS_A)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TempDevanadosFaseT_A)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BBT_B_Estado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TempAceiteReductor_B)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PresAceitePrincipal_B_kgcm2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PresNormalLubricacion_B_kgcm2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PresAguaEnfriamiento_B_kgcm2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TempRodamientoLadoLibre_B)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TempDevanadosFaseR_B)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TempDevanadosFaseS_B)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TempDevanadosFaseT_B)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TempRodamientoLadoAcople_B)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BBT_C_Estado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TempAceiteReductor_C)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PresAceitePrincipal_C_kgcm2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PresNormalLubricacion_C_kgcm2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PresAguaEnfriamiento_C_kgcm2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TempDevanadosFaseR_C)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TempDevanadosFaseS_C)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TempDevanadosFaseT_C)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BbaB_CircuitoCerrado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BbaA_CircuitoCerrado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PresDescargaCabezal_kgcm2)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Inicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Finalizacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CorreoElectronico)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OperadorTurno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VoltajeBarraBPW_kV)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Corriente_A)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BBT_A_Estado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TempAceiteReductor_A)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PresAceitePrincipal_A_kgcm2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PresNormalLubricacion_A_kgcm2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PresAguaEnfriamiento_A_kgcm2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TempDevanadosFaseR_A)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TempDevanadosFaseS_A)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TempDevanadosFaseT_A)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BBT_B_Estado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TempAceiteReductor_B)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PresAceitePrincipal_B_kgcm2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PresNormalLubricacion_B_kgcm2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PresAguaEnfriamiento_B_kgcm2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TempRodamientoLadoLibre_B)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TempDevanadosFaseR_B)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TempDevanadosFaseS_B)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TempDevanadosFaseT_B)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TempRodamientoLadoAcople_B)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BBT_C_Estado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TempAceiteReductor_C)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PresAceitePrincipal_C_kgcm2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PresNormalLubricacion_C_kgcm2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PresAguaEnfriamiento_C_kgcm2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TempDevanadosFaseR_C)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TempDevanadosFaseS_C)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TempDevanadosFaseT_C)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BbaB_CircuitoCerrado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BbaA_CircuitoCerrado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PresDescargaCabezal_kgcm2)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
